@charset "UTF-8";
/* 김성철고딕 */
/* @font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */
@font-face {
  font-family: "KimjungchulGothic-Light";
  src: url("../../common/font/KimjungchulGothic-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-Regular";
  src: url("../../common/font/KimjungchulGothic-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("../../common/font/KimjungchulGothic-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 에스코어드림 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 둘기마요 */
@font-face {
  font-family: "Dovemayo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 와구리체 */
@font-face {
  font-family: "WAGURITTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 런드리고딕 */
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* variable css */
#wrap {
  background: #EB6EA5;
  background: url(../../common/img/sub-page-background02.png) no-repeat center top/cover;
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  /* footer-section */
}
#wrap header {
  background: #fff;
}
#wrap header .container .category-wrap ul li a span {
  color: #6A3906;
}
#wrap .banner-content-wrap {
  width: 100%;
  margin-bottom: 40px;
}
#wrap .banner-content-wrap .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
#wrap .banner-content-wrap .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .program-table-content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 60px;
}
#wrap .program-table-content-wrap .container {
  flex-direction: column;
}
#wrap .program-table-content-wrap .container .title-box {
  margin-bottom: 40px;
}
#wrap .program-table-content-wrap .container .title-box h2 span {
  font-family: "WAGURITTF";
  font-weight: normal;
  font-size: 34px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #40220F;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .program-table-content-wrap .container .title-box h2 span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -48px;
  background: url("../../common/img/sub-page-title-ob01.svg") no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .title-box h2 span::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: -48px;
  background: url("../../common/img/sub-page-title-ob01.svg") no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box {
  width: 100%;
  background: #fff;
  border-radius: 28px;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap .program-table-content-wrap .container .content-box .table-box {
  width: 100%;
}
#wrap .program-table-content-wrap .container .content-box .table-box table {
  width: 100%;
  border-collapse: collapse;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr th {
  background: #EB6EA5;
  text-align: center;
  border: 1px solid #fff;
  padding: 14px 0;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr th span {
  font-family: "TTLaundryGothicB";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.8px;
  line-height: 1;
  color: #fff;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr th:first-child {
  border-left: none;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr th:last-child {
  border-right: none;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td {
  text-align: center;
  border: 1px solid #EB6EA6;
  padding: 14px 0;
  position: relative;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td span {
  display: block;
  font-family: "TTLaundryGothicB";
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td span.point-color {
  color: #EB6EA6;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td span:not(:last-child) {
  margin-bottom: 8px;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td ul li span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td ul li span::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 300px;
  background: #2a2a2a;
  position: absolute;
  left: -11%;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td:first-child {
  background: #FCE9F1;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img01::after {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/program-table-ob01.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img02::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 18px;
  display: block;
  width: 70px;
  height: 70px;
  background: url(../img/program-table-ob02.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img02::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 14px;
  display: block;
  width: 70px;
  height: 70px;
  background: url(../img/program-table-ob03.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img03::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -42px;
  display: block;
  width: 120px;
  height: 120px;
  background: url(../img/program-table-ob04.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img04::after {
  content: "";
  position: absolute;
  bottom: -24px;
  right: -24px;
  display: block;
  width: 120px;
  height: 120px;
  background: url(../img/program-table-ob05.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img05::after {
  content: "";
  position: absolute;
  bottom: 60px;
  right: -24px;
  display: block;
  width: 120px;
  height: 120px;
  background: url(../img/program-table-ob06.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img05::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 20px;
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/program-table-ob08.png) no-repeat center center/contain;
}
#wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img06::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  display: block;
  width: 100px;
  height: 100px;
  background: url(../img/program-table-ob07.png) no-repeat center center/contain;
}
#wrap .program-event-content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 60px;
}
#wrap .program-event-content-wrap .container {
  flex-direction: column;
}
#wrap .program-event-content-wrap .container .title-box {
  margin-bottom: 40px;
}
#wrap .program-event-content-wrap .container .title-box h2 span {
  font-family: "WAGURITTF";
  font-weight: normal;
  font-size: 34px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #40220F;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .program-event-content-wrap .container .title-box h2 span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -48px;
  background: url("../../common/img/sub-page-title-ob01.svg") no-repeat center center/contain;
}
#wrap .program-event-content-wrap .container .title-box h2 span::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: -48px;
  background: url("../../common/img/sub-page-title-ob01.svg") no-repeat center center/contain;
}
#wrap .program-event-content-wrap .container .content-box {
  width: 100%;
  background: #fff;
  border-radius: 28px;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 140px 0;
  position: relative;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-thumb-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-thumb-box img {
  width: 100%;
  pointer-events: none;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-thumb-box::before {
  content: "";
  font-family: "TTLaundryGothicB";
  font-size: 34px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box {
  width: 50%;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box {
  margin-bottom: 40px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box h2.title {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box h2.title span {
  font-family: "WAGURITTF";
  font-weight: normal;
  font-size: 62px;
  color: #40220F;
  letter-spacing: -0.8px;
  line-height: 1.3;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box h2.title::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  background: url("../../common/img/title-point-img.svg") no-repeat center center/contain;
  position: absolute;
  left: -58px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box p.desc {
  font-family: "WAGURITTF";
  font-weight: normal;
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: -0.8px;
  color: #6A3906;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul span.heading-txt {
  font-family: "KimjungchulGothic-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  display: block;
  margin-bottom: 8px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 12px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li span {
  color: #2a2a2a;
  font-family: "KimjungchulGothic-Light";
  font-weight: 700;
  font-size: 16px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li:not(:last-child) {
  margin-bottom: 14px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li.dot::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 300px;
  background: #2a2a2a;
  position: absolute;
  top: 10px;
  left: 0;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li.notice {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  color: #000;
  background: #EFEFEF;
  border-radius: 14px;
  padding: 8px 24px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li.notice span {
  font-size: 14px;
  line-height: 1.5;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li.notice.border-radius300 {
  border-radius: 300px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul:not(:last-child) {
  margin-bottom: 24px;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:not(:last-child) {
  border-bottom: 2px dashed #2a2a2a;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(1) .event-thumb-box::before {
  content: "하나!";
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(1)::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  right: -30px;
  bottom: 40px;
  background: url("../img/event-ob-img01.png") no-repeat center center/contain;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2) .event-thumb-box::before {
  content: "둘!";
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2)::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: absolute;
  left: -14px;
  bottom: -26px;
  background: url("../img/event-ob-img02.png") no-repeat center center/contain;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2)::after {
  content: "";
  display: block;
  width: 220px;
  height: 220px;
  position: absolute;
  right: -60px;
  bottom: -90px;
  background: url("../img/event-ob-img03.png") no-repeat center center/contain;
}
#wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(3) .event-thumb-box::before {
  content: "셋!";
}
#wrap .page-background-box {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
#wrap .page-background-box .img-box {
  width: 100%;
  height: auto;
}
#wrap .page-background-box .img-box img {
  width: 100%;
}
#wrap footer {
  background: #fff;
}
#wrap footer .container a.back-top-btn span {
  color: #2a2a2a;
}
#wrap footer .container span.copyrights span {
  color: #2a2a2a;
}
#wrap footer .container a.privacy span {
  color: #2a2a2a;
}

@media (max-width: 450px) {
  #wrap .program-table-content-wrap .container .title-box {
    margin-bottom: 24px;
  }
  #wrap .program-table-content-wrap .container .title-box h2 span {
    font-size: 24px;
  }
  #wrap .program-table-content-wrap .container .title-box h2 span::before {
    width: 16px;
    height: 16px;
    left: -28px;
  }
  #wrap .program-table-content-wrap .container .title-box h2 span::after {
    width: 16px;
    height: 16px;
    right: -28px;
  }
  #wrap .program-table-content-wrap .container .content-box {
    padding: 40px 40px;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr th span {
    font-size: 14px;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td span {
    font-size: 14px;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td ul li span {
    font-size: 14px;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img01::after {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img02::after {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img02::before {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img03::after {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img04::after {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img05::after {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img05::before {
    display: none;
  }
  #wrap .program-table-content-wrap .container .content-box .table-box table tr td.ob-img06::after {
    display: none;
  }
  #wrap .program-event-content-wrap .container .title-box {
    margin-bottom: 24px;
  }
  #wrap .program-event-content-wrap .container .title-box h2 span {
    font-size: 24px;
  }
  #wrap .program-event-content-wrap .container .title-box h2 span::before {
    width: 16px;
    height: 16px;
    left: -28px;
  }
  #wrap .program-event-content-wrap .container .title-box h2 span::after {
    width: 16px;
    height: 16px;
    right: -28px;
  }
  #wrap .program-event-content-wrap .container .content-box {
    padding: 0px 40px;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box {
    flex-direction: column;
    padding: 40px 0;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-thumb-box {
    width: 100%;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box {
    width: 100%;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box h2.title {
    justify-content: center;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box h2.title span {
    font-size: 24px;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-title-box p.desc {
    font-size: 18px;
    text-align: center;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul span.heading-txt {
    font-size: 16px;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box .event-detail-box .event-guide-wrap ul li span {
    font-size: 14px;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:not(:last-child) {
    border-bottom: 1px dashed #2a2a2a;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(1) .event-thumb-box::before {
    content: "하나!";
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(1)::after {
    display: none;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2) .event-thumb-box::before {
    content: "둘!";
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2)::before {
    display: none;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(2)::after {
    display: none;
  }
  #wrap .program-event-content-wrap .container .content-box .event-list-box:nth-child(3) .event-thumb-box::before {
    content: "셋!";
  }
  #wrap .page-background-box {
    display: none;
  }
}