@charset "UTF-8";
/* 김성철고딕 */
/* @font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */
@font-face {
  font-family: "KimjungchulGothic-Light";
  src: url("../../common/font/KimjungchulGothic-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-Regular";
  src: url("../../common/font/KimjungchulGothic-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("../../common/font/KimjungchulGothic-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 에스코어드림 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 둘기마요 */
@font-face {
  font-family: "Dovemayo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 와구리체 */
@font-face {
  font-family: "WAGURITTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 런드리고딕 */
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* variable css */
#wrap {
  background: #EB6EA5;
  background: url(../../common/img/sub-page-background02.png) no-repeat center top/cover;
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  /* footer-section */
}
#wrap header {
  background: #fff;
}
#wrap header .container .category-wrap ul li a span {
  color: #6A3906;
}
#wrap .banner-content-wrap {
  width: 100%;
  margin-bottom: 40px;
}
#wrap .banner-content-wrap .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
#wrap .banner-content-wrap .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .program-about-content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 60px;
}
#wrap .program-about-content-wrap .container {
  flex-direction: column;
}
#wrap .program-about-content-wrap .container .title-box {
  margin-bottom: 40px;
}
#wrap .program-about-content-wrap .container .title-box h2 span {
  font-family: "WAGURITTF";
  font-weight: normal;
  font-size: 34px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #40220F;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .program-about-content-wrap .container .title-box h2 span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -48px;
  background: url(../../common/img/sub-page-title-ob01.svg) no-repeat center center/contain;
}
#wrap .program-about-content-wrap .container .title-box h2 span::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: -48px;
  background: url(../../common/img/sub-page-title-ob01.svg) no-repeat center center/contain;
}
#wrap .program-about-content-wrap .container .content-box {
  width: 100%;
  background: #fff;
  border-radius: 28px;
  padding: 40px 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box {
  width: 100%;
  margin-bottom: 120px;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box .row {
  display: flex;
  padding: 12px 0 12px 34px;
  border-bottom: 2px dashed #40220F;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box .row .table-head {
  position: relative;
  margin-right: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box .row .table-head span {
  font-family: "KimjungchulGothic-Bold";
  font-weight: 700;
  font-size: 20px;
  color: #40220F;
  display: flex;
  align-items: center;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box .row .table-head::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../common/img/title-point-img.svg) no-repeat center center/contain;
  position: absolute;
  left: -48%;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .table-box .row .table-content span {
  font-family: "KimjungchulGothic-Light";
  font-weight: 700;
  font-size: 20px;
  color: #2a2a2a;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box a {
  display: block;
  padding: 16px 38px;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box a span {
  font-family: "KimjungchulGothic-Bold";
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #fff;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box a.kakao {
  background: #3FC754;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box a.naver {
  background: #EDC33E;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box .map-btn-box a:not(:last-child) {
  margin-bottom: 14px;
}
#wrap .program-about-content-wrap .container .content-box .location-detail-box::after {
  content: "";
  display: block;
  width: 180px;
  height: 180px;
  background: url("../img/location-ob-img01.png") no-repeat center center/contain;
  position: absolute;
  right: 0;
  bottom: 0;
}
#wrap .program-about-content-wrap .container .content-box .location-map-box {
  width: 48%;
  height: 500px;
}
#wrap .program-about-content-wrap .container .content-box .location-map-box .root_daum_roughmap.root_daum_roughmap_landing {
  width: 100%;
  height: 100%;
}
#wrap .program-about-content-wrap .container .content-box .location-map-box .root_daum_roughmap.root_daum_roughmap_landing .wrap_map {
  height: 100%;
}
#wrap .page-background-box {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
#wrap .page-background-box .img-box {
  width: 100%;
  height: auto;
}
#wrap .page-background-box .img-box img {
  width: 100%;
}
#wrap footer {
  background: #fff;
}
#wrap footer .container a.back-top-btn span {
  color: #2a2a2a;
}
#wrap footer .container span.copyrights span {
  color: #2a2a2a;
}
#wrap footer .container a.privacy span {
  color: #2a2a2a;
}